.idea

# server
server/node_modules
server/private
server/.tmp
server/package-lock.json



# client
client/node_modules
client/.tmp
client/package-lock.json
client/build


# client_test
client_test/node_modules
client_test/.tmp
client_test/package-lock.json
client_test/build
